<h2>New celebrity</h2>

<form action="/celebrities/create" method="post">
    <input type="text" name="name" placeholder="Enter celebrity name">
    <br/>
    <input type="text" name="occupation" placeholder="Enter celebrity occupation">
    <br/>
    <input type="text" name="catchPhrase" placeholder="Enter celebrity catch phrase">
    <br/>
    <button type="submit">Create</button>
</form>