<h2>New movie</h2>

<form action="/movie/create" method="post">
    <input type="text" name="title" placeholder="Enter movie title">
    <br/>
    <input type="text" name="genre" placeholder="Enter movie genre">
    <br/>
    <input type="text" name="plot" placeholder="Enter movie plot">
    <br/>
    <input type="text" name="cast" placeholder="Select movie cast">
    <br/>
    <button type="submit">Create</button>
</form>